<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.bubbles.sample.beacon"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ImageActivity"/>
        <activity android:name=".WebViewActivity"/>

        <!-- START Bubbles SDK -->
        <meta-data
            android:name="com.bubbles.sdk.beacon.key"
            android:value="48d3edf9d69061cb41c123be9097ddbc"/>
        <activity android:name="com.bubbles.sdk.beacon.activity.BeaconActivity"/>
        <!-- END Bubbles SDK -->

    </application>
</manifest>
